@use '../assets/scss/variables' as *;

.child {
  position: relative;
  max-width: 48%;
  border-radius: 3.75rem 0.75rem 3.75rem 3.75rem;
  background-color: $color-primary-500;
  text-align: center;
  padding: 0.625rem;
  margin-bottom: 0.938rem;

  button {
    position: absolute;
    top: 0;
    right: 0;
    background: none;
    border: none;
    font-weight: $font-weight-bold;
    font-size: $font-size-small;
  }

  button:hover {
    text-decoration: underline;
  }
}

.name {
  margin-top: 0.625rem;
  margin-bottom: 2.625rem;
  font-size: $font-size-subtitle;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
}

.img {
  width: 9.375rem;
}

.clothes {
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  li {
    display: inline;
    list-style-type: none;
    padding-left: 0.313rem;
    padding-right: 0.313rem;
  }

  img {
    max-height: 3.75rem;
  }

  p {
    font-size: $font-size-caption;
    font-weight: $font-weight-semibold;
    margin-bottom: 0;
  }
}
