.list {
  display: flex;
  overflow: auto;
  margin-bottom: 0;

  li {
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
    margin: 0.313rem;
    border-radius: 3.75rem;
    background-color: #86A8E7;
    text-align: center;
    padding: 0.625rem;
  }

  li:hover {
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,10%);
  }
}
