@use '../../../assets/scss/variables' as *;

.list {
  display: flex;
  overflow: auto;
  margin-bottom: 0;

  li {
    display: inline-block;
    list-style-type: none;
    margin: 0.313rem;
  }

  button {
    cursor: pointer;
    border: 0;
    border-radius: 3.75rem;
    background-color: $color-primary-500;
    text-align: center;
    padding: 0.625rem;
    font-family: inherit;
    font-size: $font-size-small;
    font-weight: $font-weight-semibold;
    color: inherit;
  }

  button:hover {
    box-shadow: 0 10px 15px -3px $color-shadow;
  }

  button:focus-visible {
    outline: 3px solid $color-neutral-900;
    outline-offset: 2px;
  }
}
